@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
/* RESET */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 100;
    box-sizing: border-box;
    letter-spacing: .025em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* FIN RESET */

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

main {
    background-color: rgb(247, 247, 247);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.connexion {
    background-color: white;
    width: 1000px;
    height: 523px;
    padding: 75px;
    border-radius: 25px;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.03);
    display: flex;
    margin: 9px;
}

.gauche {
    width: 50%;
    padding-right: calc(75px/2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gauche a {
    color: black;
    margin-top: 15px;
}

.gauche img {
    position: relative;
    max-width: 312px;
}

.droite {
    width: 50%;
    padding-left: calc(75px/2);
}

.droite h2 {
    min-width: 324px;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.droite div {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.droite div img {
    position: absolute;
    top: 12px;
}

.droite p {
    margin-bottom: 30px;
}

.droite input[type="radio"] {
    margin-right: 10px;
}

.droite input[type="email"], .droite input[type="password"], .droite input[type="text"] {
    padding: 6px 30px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
}

.droite input[type="email"]:focus, .droite input[type="password"]:focus, .droite input[type="text"]:focus {
    color: black;
    border-bottom: 1px solid black;
}

input[type="email"]:focus::placeholder, input[type="password"]:focus::placeholder, input[type="text"]:focus::placeholder {
    color: black;
}

.file-input {
    display: inline-block !important;
    text-align: left;
    background: #fff;
    padding: 16px;
    min-width: 315px;
    width: 100%;
    position: relative;
    border-radius: 3px;
}

.file-input>[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.file-input>.button {
    display: inline-block;
    cursor: pointer;
    background: #eee;
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 8px;
}

.file-input:hover>.button {
    background: dodgerblue;
    color: white;
}

.file-input>.label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
}

.file-input.-chosen>.label {
    opacity: 1;
}

.droite input[type=submit] {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    width: 160px;
    cursor: pointer;
}

.droite input[type=submit]:hover {
    background-color: rgb(64, 121, 228);
    transition: 0.5s ease-in-out;
}

.droite>ul {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul li {
    display: flex;
    justify-content: center;
}

ul li>a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    background-color: rgb(211, 255, 244);
    box-shadow: 0px 2px 2px 0.17px rgba(0, 0, 0, 0.03);
}

ul li>a:hover {
    transition: 0.6s ease;
    padding: 15px 30px;
    background-color: rgb(155, 255, 228);
    box-shadow: 0px 2px 2px 0.17px rgba(0, 0, 0, 0.123);
}

.droite>a {
    color: black;
    text-align: end;
}

label {
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 1111px) {
    section.connexion {
        width: 90%;
    }
}

@media screen and (max-width: 880px) {
    .connexion h2 {
        position: relative;
        right: 4vw;
    }
    ul li>a {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 750px) {
    main {
        background-color: rgb(247, 247, 247);
        min-height: 100vh;
        display: flex;
        align-items: initial;
        justify-content: center;
    }
    section.connexion {
        flex-direction: column-reverse;
        justify-content: space-around;
        height: initial;
        padding: 20px 5vw;
    }
    .gauche {
        width: 100%;
        padding-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gauche img {
        height: 300px;
        margin-top: 10px;
    }
    .droite {
        width: 100%;
        padding-left: 0px;
    }
    .droite h2 {
        min-width: initial;
        right: 0;
        text-align: center;
        margin: 0 auto;
        position: initial;
        font-size: 7vw;
    }
    .droite p {
        text-align: center;
    }
    .droite input[type=submit] {
        margin: 0 auto;
    }
    .droite ul {
        height: initial;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .droite ul li{
        width: 48%;
        margin-bottom: 5px;
    }
    .file-input {
        right: 4vw;
    }
}